hr {
  border: 1px solid rgb(197, 195, 195);
  margin: 0 20px;
}

h2 {
  font-weight: 300;
  font-size: 35px;
  margin-top: 0px;
  line-height: 38px;
}

h3 {
  font-weight: 300;
  font-size: 27px;
  line-height: 0px;
}

p {
  font-size: 18px;
}

.character-img {
  width: 250px;
  height: 250px;
  margin-left: 50px;
  margin-right: 30px;
}

.character-data {
  width: 500px;
}

.character-container {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  align-items: flex-start;
  margin-bottom: 29px;
}

.thumbs-up {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  filter: invert(47%) sepia(89%) saturate(424%) hue-rotate(143deg)
    brightness(97%) contrast(86%);
  cursor: pointer;
}

.yes {
  color: #21a1bb;
}

.name {
  color: yellow;
}

.house {
  color: rgb(146, 148, 146);
}

.patronus {
  color: rgb(173, 149, 173);
}

.number-likes {
  color: #21a1bb;
}
